{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "jsx": false,
      "dynamicImport": true,
      "importAssertions": true,
      "topLevelAwait": true,
      "preserveAllComments": false
    },
    "target": "es2016",
    "externalHelpers": false
  },
  "module": {
    "type": "commonjs",
    "ignoreDynamic": true
  },
  "env": {
    "targets": {
      "node": "14.17.3"
    }
  },
  "sourceMaps": true
}
